#shellcheck disable=SC2148,SC2155
export KUBECONFIG="./kubeconfig"
export SOPS_AGE_KEY_FILE="./.age.key"
# ansible
export ANSIBLE_VARS_ENABLED="host_group_vars"
export ANSIBLE_LOCALHOST_WARNING="False"
export ANSIBLE_INVENTORY_UNPARSED_WARNING="False"
export K8S_AUTH_KUBECONFIG="./kubeconfig"
# terraform
export TF_DATA_DIR="./.terraform"
# k0s 
export DISABLE_TELEMETRY="true"
export DISABLE_UPGRADE_CHECK="true"
