{
  "singleQuote": true,
  "bracketSpacing": true,
  "useTabs": false,
  "semi": false,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "tabWidth": 2,
  "printWidth": 100
}
