/* You can add global styles to this file, and also import other style files */


body {
  background-image: url("assets/images/logos/Helix-AI.svg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  background-color: rgba(1, 17, 91, .9);
  border: .5px solid rgb(1, 17, 91);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(246, 6, 151, 0);
  border-radius: 20px;

}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(246, 6, 151, 0.9);
  border-radius: 20px;

}
