[mysqld]
server-id=2
log_bin=mysql-bin
binlog_format=ROW

# Replication settings
gtid_mode=ON
enforce-gtid-consistency=ON
log_slave_updates=ON
master_info_repository=TABLE
relay_log_info_repository=TABLE
sync_binlog=1
binlog_checksum=NONE
log_bin_trust_function_creators=1

# Semi-synchronous replication
plugin-load="semisync_master.so;semisync_slave.so"
rpl_semi_sync_master_enabled=1
rpl_semi_sync_slave_enabled=1
