h1 {
  padding: 1vw;
}

.Background {
  display: flex;
  margin-top: -11px;
  margin-left: -10px;
  background-color: rgba(246, 6, 151, 0.8);
  box-shadow: 5px 10px 10px rgba(25, 25, 25, .5);
  width: 100vw;
  position: fixed;
  max-height: 50px;
  padding: 0.5vh;
}

.Column {
  display: flex;
  flex-direction: column;
  width: 33%
}

.Row {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.RowReverse {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  padding: 0.5vh;
  align-items: center;
}


.RowCentered {
  display: flex;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0.5vh;
}
